.widget-user-image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 50%);
    z-index: -1;
}

.widget-user-image:hover .overlay {
    z-index: 1;
    cursor: pointer;
}